nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 16px;
}

li:last-child {
    margin-right: 0;
}

nav > ul > li > a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}